* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;

  font-family: monospace;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("./../assets/fortaleza.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  object-fit: cover;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);

  height: 100%;
  width: 100%;

  justify-content: center;
  align-content: center;
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  background: rgba(255, 255, 255, 0.3) !important;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;

  border: 2.25px solid white;
  position: relative;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: "";

  width: calc(6.25rem * 0.9);
  height: calc(6.25rem * 0.15);

  position: absolute;
  background: white;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";

  width: calc(6.25rem * 0.9);
  height: calc(6.25rem * 0.9);

  position: absolute;
  background: white;

  border-radius: 50%;
}

.winning-message {
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;

  inset: 0;

  background-color: rgba(0, 0, 0, 0.8);
}

.winning-message-button {
  font-size: 2rem;
  
  background-color: black;
  color: white;

  padding: 0.625rem 1rem;
  
  border-radius: 8px;
  border: none;
  
  margin-top: 1rem;
  cursor: pointer;
}

.winning-message-button:hover {
  opacity: 0.7;
}

.winning-message-text {
  font-size: 5rem;
  color: white;
}

.show-winning-message {
  display: flex;
}